body{
    background-color: #FFFEFE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.header {
    overflow: hidden;
    /* background-color: #20036f; */
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: #f1f1f1;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
.headerBox
{
background-color: #1b0389;
padding-left: 5px;
visibility: hidden;
}

.headerText
{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
color: white;
}
/* #payment_selector
{
    
} */
.ModPago
{
/* display: flex; */
/* background-color: #363; */
/* width: 50%; */

}
.mediosDePago
{
    /* background-color: #363; */
}
.mediosDePago:hover
{
background-color: #cbdcfd;
}

.formCaption
{
background-color: #ccd2ff;
/* border-style: solid; */
border-color: #1b0389;
height: 50px;
}

.formCaptionText
{
color: #1b0389;
font-size: 20px;

}
.text-input
{
font-size: 20px;
margin-right: 100px;
}

#payment_selector, #payment_selector[width]
{
  width: 800px !important; 
}

.formLabel
{
/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
/* font-size: 14px; */
/* padding-left: 5px; */
visibility: hidden;
}
.textWblock
{
font-size: 20px;
}

.inputControl
{
font-family: Verdana, Geneva, Tahoma, sans-serif;;
font-size: 22px;
/* margin-right: 35px; */
}

.input.btn
{
color:#1b0389;
font-family: Verdana;
font-size: 12px;
font-weight: bold;
background-color: #EEFFFF;
border: 1px solid;
border-top-color: #696;
border-left-color: #696;
border-right-color: #363;
border-bottom-color: #363;
/* filter: progid: DXImageTransform.Microsoft.Gradient */
/* (GradientType=0,StartColorStr='#EBEBEB',EndColorStr='#C1EBEB'); */
}

.loader
{
border: 10px solid #f3f3f3;
border-radius: 50%;
border-top: 10px solid #1b0389;
width: 40px;
height: 40px;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
}

.toolTip .toolTipText

{
font-family: Verdana, Arial, Helvetica, sans-serif;
visibility: hidden;
background-color: #e8e8e8;
color: black;
padding: 5px 10px;
border-radius: 4px;
position: absolute;
width: 200px;
text-align: center;
top: 100%;
left: 50%;
margin-left: -100px;
transition: 1s;
box-shadow: 2px 2px 5px black;
}
.toolTip .toolTipText::after
{
content: "";
position: absolute;
bottom: 100%;
left: 40%;
border-width: 5px;
border-style: solid;
border-color: transparent transparent #e8e8e8 transparent;
}
.toolTip:hover .toolTipText
{
visibility: visible;
}
.flecha
{
width: 1px;
height: 1px;
border-width: 530;
border-style: solid;
border-color: #e8e8e8 transparent transparent transparent;
}
.lblDetalle
{
    font-size: 15px;
}
.btn
{
padding-right: 30px;
padding-left: 30px;
padding-top: 10px;
padding-bottom: 10px;
color: #f5f5f5;
background-color: #2500cc;
font-size: 16px;
border-radius: 20px;
border-color: hidden;
margin-bottom: 100px;
}

.footer 
{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: #240870;
}

.footer-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3
{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    color: #cacdd2;

}
