PROJECT_NAME=example.proj
PORT_SERVICE_HOST_ODOO=16000
PORT_SERVICE_CONTAINER_ODOO=8069
ODOO_RELEASE=latest
ODOO_VERSION=17.0
POSTGRES_IMG_VERSION=14
POSTGRES_DB=postgres
POSTGRES_PASSWORD=odoo
POSTGRES_USER=odoo
PG_ADMIN_HOST_PORT=8008
PG_ADMIN_SERVICE_CONTAINER_PORT=80
RESET_PASSWORD=admin
