.rheader {
    font-size: 18px !important;
}

.rbody{
    font-size: 16px !important;
}
.letter {
    /* font-size: 5%; */
    text-transform: uppercase;
    justify-content: start;
}

.container {
    display: flex;
    justify-content: space-between;
}

.border {
    border-bottom: 3px;
    color: black;
}
