@font-face {
   font-family: 'shaston';
   src: url('/libreria_pos/static/src/fonts/Shaston640.ttf') format('truetype');  
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'shaston';
   src: url('/libreria_pos/static/src/fonts/Shaston320.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

.rheader {
    font-size: 20px;
    font-family: 'shaston';
    text-align: center;
}

.rbody{
    font-size: 20px;
    font-family: 'shaston';
}

.letter {
    /* font-size: 5%; */
    text-transform: uppercase;
    justify-content: start;
}

.pl{
    padding:2px 0px;
}


.line-receipt{
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items:end;
  flex-wrap: nowrap;
  gap: 3px;
  margin-bottom: 2px;
}
.product-line{
  width: 70%
}

.text-right{
  display:flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
  justify-content: space-between;
  width: 30%
}
.container {
    display: flex;
    justify-content: space-between;
}

.border {
    border-bottom: 3px;
    color: black;
}

.dotted-hr {
    border: 0.5px dotted #000;
}
