.screen .centered-content {
    max-width: 1024px;
}

.screen .centered-content .buttons {
    display: flex;
    justify-content: center;
    margin: 1em 0px;
}

.screen .centered-content .receipt-handler {
    display: flex;
}