.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pt_1 {
    padding-top: 1em;
}
.font-80 {
    font-size: 80%;
}
.right-align {
    text-align: right;
}
.left-align {
    text-align: left;
}
.text-bold {
    font-weight: bold;
}
.pos-receipt .pos-receipt-contact .company-text {
    font-size: 110%;
    font-weight: bold;
}
.pos-receipt .flex-container {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
}
.pos-receipt .pos-footer{
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
}
