.timesheet {
    display: flex;
    background: #eee;
    position: relative;
}

.timesheet__col {
    width: 14%;
    display: flex;
    flex-wrap: wrap;
}

.timesheet__col-time {
    width: 120px;
    max-height: 100px;
    font-size: 20px;
    text-align: right;
    background: white;
}

.timesheet__col-current {
background: #FBFAFA;
}

.timesheet__block-header {
    width: 100%;
    max-height: max-content;
    min-height: 3em;
    /* max-height: 100px; */
    font-size: 24px;
    padding: 0.1em 0.3em;
    background: white;
    box-sizing: border-box;
    /* border-top: 1px solid #ccc; */
    border-color:  #ccc;
    /* border-right: 1px solid #ccc; */
}

.timesheet__block {
    width: 100%;
    height: 100px;
    /* max-height: 100px; */
    min-height: 3em;
    font-size: 18px;
    padding: 0.1em 0.3em;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: relative;
    overflow: hidden;
}

.timesheet__block:first-child {
    border-top: 0;
    text-align: center;
    line-height: 3em;
    /* background: white; */
}

.current-time-line {
    height: 1px;
    background: red;
    width: calc(100% - 60px);
    position: absolute;
    left: 60px;
}

.schedule {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.2em;
    box-sizing: border-box; 
    color: white;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}