thead > tr{
    margin-bottom: 3px;
}

th{
    vertical-align: middle;
}

th{
    font-size:12px;
}

td{
    font-size:12px;
    width: 25%;
    padding:0px 5px;
}

.col-xs-7,
.col-xs-4{
    padding:0px !important;
}

.col-xs-4 span
,.col-xs-8 span {
    font-size:14px;
}

.td_right{
    padding:0px 10px;
}

.class_number td{
    font-size:11px;
    width: 15%;
    padding:0px 0px;
}

.row_1 > tr > td > span{
    font-size:11px;
}